<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>welcome to kottayam</h1>
    <h1>nice to meet u</h1>
    <table class="table">
        <tr>
            <td>username</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td></td>
            <td><buttonbutton type="button" class="btn btn-success">LOGIN</button></td>
        </tr>
    </table>
</body>
</html>